<form [formGroup]="claimForm" *ngIf="claim">
  <!--<mat-accordion>-->
  <div fxLayout="column">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Claim #" [(ngModel)]="claim.claimId" name="claimId" formControlName="claimId">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Submitted on" [ngModel]="claim.submitDate | date" name="submitDate"
                   formControlName="submitDate">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="status" [(ngModel)]="claim.status" name="status" formControlName="status">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="Last Updated on" [(ngModel)]="claim.updateDate" name="updateDate"
                   formControlName="updateDate">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Expected payout*" [ngModel]="claim.amount | currency" name="amount"
                   formControlName="amount">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Memo" [(ngModel)]="claim.description" name="description"
                   formControlName="description">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Broker info
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column" formGroupName="broker">
            <mat-form-field>
              <input matInput placeholder="Broker" [(ngModel)]="claim.broker.businessName" name="businessName"
                     formControlName="businessName">
            </mat-form-field>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="MC #" [(ngModel)]="claim.broker.mcNumber" name="mcNumber"
                     formControlName="mcNumber">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="DOT #" [(ngModel)]="claim.broker.dotNumber" name="dotNumber"
                     formControlName="dotNumber">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Phone" [(ngModel)]="claim.broker.phoneNumber" name="phoneNumber"
                     formControlName="phoneNumber">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Load info
      </mat-panel-title>
      <mat-panel-description>
        Invoice details
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Your info
      </mat-panel-title>
      <mat-panel-description>
        Carrier details {{isEditable ? '(Edit in profile)' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" formGroupName="carrier">
      <mat-form-field>
        <input matInput placeholder="Carrier" [(ngModel)]="claim.carrier.businessName" name="businessName"
               formControlName="businessName">
      </mat-form-field>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="MC #" [(ngModel)]="claim.carrier.mcNumber" name="mcNumber"
                     formControlName="mcNumber">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="DOT #" [(ngModel)]="claim.carrier.dotNumber" name="dotNumber"
                     formControlName="dotNumber">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput placeholder="Phone" [(ngModel)]="claim.carrier.phoneNumber" name="phoneNumber"
                     formControlName="phoneNumber">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <!--</mat-accordion>-->
  <div fxLayoutAlign="end">
    <button mat-raised-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <button mat-flat-button *ngIf="!isEditable" routerLink="/claims/edit/{{claim.claimId}}">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-flat-button *ngIf="isEditable" routerLink="/claims">
      <mat-icon>check</mat-icon>
      Save
    </button>
  </div>
</form>


<!--https://linuxhint.com/install-apache-kafka-ubuntu/-->
