<form [formGroup]="claimForm" *ngIf="claim" (ngSubmit)="updateForm()">
  <mat-card >
    <mat-card-title>
      <span>Claim #{{claim.claimId}} Details</span>
    </mat-card-title>
    <mat-card-content>
      <mat-card fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Claim #" formControlName="claimId">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Submitted on" formControlName="submitDate" value="{{claim.submitDate | date: 'medium'}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="status" formControlName="status">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Updated on" formControlName="updateDate"  value="{{claim.updateDate | date: 'medium'}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Expected payout*" formControlName="amount">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Memo" formControlName="description">
          <mat-error *ngIf="claimForm.hasError('required', ['claimId'])">
            {{claimForm.getError('required', ['claimId'])?.description}}
          </mat-error>
        </mat-form-field>
      </mat-card>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Broker info
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" formGroupName="broker">
          <mat-form-field>
            <input matInput placeholder="Broker" formControlName="businessName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="MC #" formControlName="mcNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOT #" formControlName="dotNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone" formControlName="phoneNumber">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Load info
          </mat-panel-title>
          <mat-panel-description>
            Invoice details
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Your info
          </mat-panel-title>
          <mat-panel-description>
            Carrier details {{isEditable ? '(Edit in profile)' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="column" formGroupName="carrier">
          <mat-form-field>
            <input matInput placeholder="Carrier" formControlName="businessName">
            <mat-error *ngIf="claimForm.hasError('required', ['claimId'])">
              {{claimForm.getError('required', ['carrier', 'businessName'])?.description}}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="MC #" formControlName="mcNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="DOT #" formControlName="dotNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone" formControlName="phoneNumber">
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-card-actions fxLayoutAlign="end">
        <button mat-raised-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
        <button mat-flat-button *ngIf="!isEditable" routerLink="/claims/edit/{{claim.claimId}}">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-flat-button type="submit" *ngIf="isEditable" routerLink="/claims">
          <mat-icon>check</mat-icon>
          Save
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>


<!--https://linuxhint.com/install-apache-kafka-ubuntu/-->
