<section>
  <mat-card>
    <mat-card-title>
      {{claim.broker.businessName}}
    </mat-card-title>
    <mat-card-content>
      <form #f="ngForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
          <input type="email" matInput placeholder="Your email" ngModel name="email" email required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Your password" ngModel name="password">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
