<div fxLayout="column" fxFlex>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Silver Shield Capital</span>

      <!-- Filler that pushes the menu button to the end of the toolbar -->
      <span fxFlex></span>
      <span class="username" *ngIf="isAuthenticated()">{{username}}</span>
      <button mat-icon-button routerLink="/profile" *ngIf="isAuthenticated()">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isAuthenticated()">
        <mat-icon matBadge="15" matBadgeColor="accent" matBadgeSize="medium">notifications</mat-icon>
      </button>
      <mat-icon>more_vert</mat-icon>
      <button mat-flat-button (click)="login()" *ngIf="!isAuthenticated()">Login</button>
      <button mat-flat-button (click)="logout()" *ngIf="isAuthenticated()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" [opened]="true" *ngIf="isAuthenticated()">
      <mat-button-toggle-group fxLayout="column" class="content">
        <mat-button-toggle [checked]="getActiveButton('brokers')" routerLink="/">
          <mat-icon>home</mat-icon>
          Home
        </mat-button-toggle>
        <mat-button-toggle [checked]="getActiveButton('claims')" routerLink="/claims" *ngIf="isAuthenticated()">
          <mat-icon>insert_drive_file</mat-icon>
          Claims
        </mat-button-toggle>
        <mat-button-toggle [checked]="getActiveButton('brokers')" routerLink="/brokers"
                           *ngIf="isAuthenticated() && isAdmin()">
          <mat-icon>group</mat-icon>
          Brokers
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-sidenav>
    <div class="content" fxLayout="row" fxFill fxLayoutGap="16px">

      <div fxFill>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>
</div>
